.icon {
  font-size: 32px;
  font-weight: bold;
  letter-spacing: 32px;
  position: relative;
}

.confetti {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.confetti-piece {
  position: absolute;
  width: 8px;
  height: 16px;
  background: #ffd300;
  top: 0;
  opacity: 0;
}
.confetti-piece:nth-child(1) {
  left: 7%;
  transform: rotate(45deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 291ms;
  animation-duration: 792ms;
}
.confetti-piece:nth-child(2) {
  left: 14%;
  transform: rotate(73deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 292ms;
  animation-duration: 898ms;
}
.confetti-piece:nth-child(3) {
  left: 21%;
  transform: rotate(-48deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 491ms;
  animation-duration: 852ms;
}
.confetti-piece:nth-child(4) {
  left: 28%;
  transform: rotate(-40deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 243ms;
  animation-duration: 703ms;
}
.confetti-piece:nth-child(5) {
  left: 35%;
  transform: rotate(-64deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 360ms;
  animation-duration: 943ms;
}
.confetti-piece:nth-child(6) {
  left: 42%;
  transform: rotate(-74deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 346ms;
  animation-duration: 787ms;
}
.confetti-piece:nth-child(7) {
  left: 49%;
  transform: rotate(-22deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 149ms;
  animation-duration: 1003ms;
}
.confetti-piece:nth-child(8) {
  left: 56%;
  transform: rotate(35deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 440ms;
  animation-duration: 1115ms;
}
.confetti-piece:nth-child(9) {
  left: 63%;
  transform: rotate(44deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 143ms;
  animation-duration: 1020ms;
}
.confetti-piece:nth-child(10) {
  left: 70%;
  transform: rotate(-69deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 149ms;
  animation-duration: 1106ms;
}
.confetti-piece:nth-child(11) {
  left: 77%;
  transform: rotate(29deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 112ms;
  animation-duration: 1167ms;
}
.confetti-piece:nth-child(12) {
  left: 84%;
  transform: rotate(-53deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 45ms;
  animation-duration: 1018ms;
}
.confetti-piece:nth-child(13) {
  left: 91%;
  transform: rotate(17deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 360ms;
  animation-duration: 1165ms;
}
.confetti-piece:nth-child(14) {
  left: 98%;
  transform: rotate(10deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 73ms;
  animation-duration: 735ms;
}
.confetti-piece:nth-child(15) {
  left: 105%;
  transform: rotate(-39deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 203ms;
  animation-duration: 774ms;
}
.confetti-piece:nth-child(16) {
  left: 112%;
  transform: rotate(-18deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 487ms;
  animation-duration: 975ms;
}
.confetti-piece:nth-child(17) {
  left: 119%;
  transform: rotate(23deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 263ms;
  animation-duration: 997ms;
}
.confetti-piece:nth-child(18) {
  left: 126%;
  transform: rotate(-32deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 364ms;
  animation-duration: 1148ms;
}
.confetti-piece:nth-child(19) {
  left: 133%;
  transform: rotate(16deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 176ms;
  animation-duration: 833ms;
}
.confetti-piece:nth-child(20) {
  left: 140%;
  transform: rotate(13deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 293ms;
  animation-duration: 731ms;
}
.confetti-piece:nth-child(odd) {
  background: #17d3ff;
}
.confetti-piece:nth-child(even) {
  z-index: 1;
}
.confetti-piece:nth-child(4n) {
  width: 5px;
  height: 12px;
  animation-duration: 2000ms;
}
.confetti-piece:nth-child(3n) {
  width: 3px;
  height: 10px;
  animation-duration: 2500ms;
  animation-delay: 1000ms;
}
.confetti-piece:nth-child(4n-7) {
  background: #ff4e91;
}

@keyframes makeItRain {
  from {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  to {
    transform: translateY(200px);
  }
}
body {
  background: #9b3158 url("../assets/img/pattern.png");
  background-size: cover;
  font-family: "Madimi One", sans-serif;
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
body main {
  width: 40%;
  height: 60%;
  background-color: #9b3158;
  border-radius: 8px;
  padding: 20px;
  color: white;
  font-family: "Madimi One", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
}
body main .stats {
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body main .stats p {
  margin: 0px;
  padding: 0px;
}
body main h1 {
  font-size: 3rem;
}
body main p {
  font-size: 1.5rem;
  text-align: left;
  padding: 20px;
  text-align: center;
}/*# sourceMappingURL=felicitaciones.css.map */