.icon {
  font-size: 32px;
  font-weight: bold;
  letter-spacing: 32px;
  position: relative;
}

.confetti {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.confetti-piece {
  position: absolute;
  width: 8px;
  height: 16px;
  background: #ffd300;
  top: 0;
  opacity: 0;
}
.confetti-piece:nth-child(1) {
  left: 7%;
  transform: rotate(8deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 55ms;
  animation-duration: 990ms;
}
.confetti-piece:nth-child(2) {
  left: 14%;
  transform: rotate(50deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 12ms;
  animation-duration: 947ms;
}
.confetti-piece:nth-child(3) {
  left: 21%;
  transform: rotate(-33deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 290ms;
  animation-duration: 886ms;
}
.confetti-piece:nth-child(4) {
  left: 28%;
  transform: rotate(48deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 374ms;
  animation-duration: 841ms;
}
.confetti-piece:nth-child(5) {
  left: 35%;
  transform: rotate(-11deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 132ms;
  animation-duration: 908ms;
}
.confetti-piece:nth-child(6) {
  left: 42%;
  transform: rotate(58deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 496ms;
  animation-duration: 1043ms;
}
.confetti-piece:nth-child(7) {
  left: 49%;
  transform: rotate(-19deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 207ms;
  animation-duration: 908ms;
}
.confetti-piece:nth-child(8) {
  left: 56%;
  transform: rotate(-74deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 448ms;
  animation-duration: 741ms;
}
.confetti-piece:nth-child(9) {
  left: 63%;
  transform: rotate(-28deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 91ms;
  animation-duration: 1076ms;
}
.confetti-piece:nth-child(10) {
  left: 70%;
  transform: rotate(-1deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 291ms;
  animation-duration: 1080ms;
}
.confetti-piece:nth-child(11) {
  left: 77%;
  transform: rotate(34deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 356ms;
  animation-duration: 947ms;
}
.confetti-piece:nth-child(12) {
  left: 84%;
  transform: rotate(5deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 204ms;
  animation-duration: 1088ms;
}
.confetti-piece:nth-child(13) {
  left: 91%;
  transform: rotate(-32deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 95ms;
  animation-duration: 1057ms;
}
.confetti-piece:nth-child(14) {
  left: 98%;
  transform: rotate(-19deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 383ms;
  animation-duration: 739ms;
}
.confetti-piece:nth-child(15) {
  left: 105%;
  transform: rotate(-33deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 114ms;
  animation-duration: 778ms;
}
.confetti-piece:nth-child(16) {
  left: 112%;
  transform: rotate(69deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 16ms;
  animation-duration: 1089ms;
}
.confetti-piece:nth-child(17) {
  left: 119%;
  transform: rotate(-41deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 495ms;
  animation-duration: 993ms;
}
.confetti-piece:nth-child(18) {
  left: 126%;
  transform: rotate(-32deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 349ms;
  animation-duration: 1058ms;
}
.confetti-piece:nth-child(19) {
  left: 133%;
  transform: rotate(16deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 342ms;
  animation-duration: 832ms;
}
.confetti-piece:nth-child(20) {
  left: 140%;
  transform: rotate(-68deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 59ms;
  animation-duration: 1120ms;
}
.confetti-piece:nth-child(odd) {
  background: #17d3ff;
}
.confetti-piece:nth-child(even) {
  z-index: 1;
}
.confetti-piece:nth-child(4n) {
  width: 5px;
  height: 12px;
  animation-duration: 2000ms;
}
.confetti-piece:nth-child(3n) {
  width: 3px;
  height: 10px;
  animation-duration: 2500ms;
  animation-delay: 1000ms;
}
.confetti-piece:nth-child(4n-7) {
  background: #ff4e91;
}

@keyframes makeItRain {
  from {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  to {
    transform: translateY(200px);
  }
}
body {
  background: #9b3158 url("../assets/img/pattern.png");
  background-size: cover;
  font-family: "Madimi One", sans-serif;
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
body main {
  width: 40%;
  height: 60%;
  background-color: #9b3158;
  border-radius: 8px;
  padding: 20px;
  color: white;
  font-family: "Madimi One", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
}
body main .stats {
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body main .stats p {
  margin: 0px;
  padding: 0px;
}
body main h1 {
  font-size: 3rem;
}
body main p {
  font-size: 1.5rem;
  text-align: left;
  padding: 20px;
  text-align: center;
}/*# sourceMappingURL=felicitaciones.css.map */