@import 'confetti';

body {
    background: #9b3158 url('../assets/img/pattern.png') ;
    background-size: cover;
    font-family: "Madimi One", sans-serif;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    main {
        width: 40%;
        height: 60%;
        background-color: #9b3158;
        border-radius: 8px;
        padding: 20px;
        color: white;
        font-family: "Madimi One", sans-serif;
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);

        h1 {
            font-size: 3rem;
        }

        p {
            font-size: 1.5rem;
            text-align: left;
            padding: 20px;
            text-align: center;
        }
    }
}